doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content=settings.description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    meta(name="referrer" content="no-referrer-when-downgrade")
    link(rel="canonical" href=baseUrl)
    
    link(rel="apple-touch-icon" sizes="180x180" href="/res/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/res/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/res/favicon/favicon-16x16.png")
    link(rel="manifest" href="/res/favicon/site.webmanifest")

    - const title = post ? post.title + ' - ' + settings.title : settings.title
    - const description = post ? post.description.replace(/\n/igm, ' ') : settings.description;
    - const url = post ? baseUrl + post.href.substr(1).replace('.pug', '.html') : baseUrl;
    - const image = (post && post.feature_image) ? post.feature_image : settings.logo;
    
    meta(name="og:site_name" content=settings.title)
    meta(name="og:type" content="website")
    meta(name="og:title" content=title)
    meta(name="og:description" content=description)
    meta(name="og:url" content=url)
    meta(name="og:image" content=image)

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:url" content=url)
    meta(name="twitter:image" content=image)
    meta(name="twitter:site" content="@Sa1en")

    script(type="application/ld+json")
      |{
      |  "@context": "https://schema.org",
      |  "@type": "#{post ? 'Article' : 'WebSite'}",
      |  "author": {
      |      "@type": "Person",
      |      "name": "#{settings.title}",
      |      "url": "#{baseUrl}",
      |      "logo": "#{settings.logo}"
      |  },
      |  "url": "#{url}",
      |  "image": "#{image}",
      |  "mainEntityOfPage": {
      |      "@type": "WebPage",
      |      "@id": "#{baseUrl}"
      |  },
      |  "description": "#{description}"
      if post
        | ,
        | "headline": "#{post.title}",
        | "datePublished": "#{post.published_at}",
        | "dateModified": "#{post.updated_at}",
        | "keywords": "#{post.tags.map(t => t.name).join(',')}"
      |}

    title= title
    link(rel="alternate" type="application/rss+xml" title=settings.title href=baseUrl + "rss/")
    link(rel="stylesheet" href=relative("./base.css", pug_debug_filename))
    script(type="text/javascript")
      include ./init.js
    block styles
    block scripts
  block body