append scripts
  script(type="text/javascript" src=relative("./header.js", pug_debug_filename))

append links
  link(rel="stylesheet" href=relative("./header.css", pug_debug_filename))

header.c-header
  div.c-header__top
    div
      a.c-header__avatar-container(href=settings.logo target="_blank")
        +picture(settings.logo, "c-header__avatar", "Image of Vitaliy Ribachenko")
    h1.c-header__title
      a.c-header__title-link.o-link.o-link--plain(href="/")= settings.title
    p.c-header__description Full Stack Developer

  div.c-header__middle
    div.c-header__place
      button.o-button.c-header__place-button.o-link.o-link--plain(type="button")
        svg.c-header__place-icon(src="/res/icons/pin.svg")
        span= `${places.current.city}, ${places.current.country}`

  div.c-header__bottom
    ul.c-header__links
      each social in socials
        li.c-header__links-item
          a.o-link.o-link--plain.o-link--ic(href=social.url target="_blank" aria-label="Link to my " + social.name rel="noreferrer noopener")
            svg.c-header__links-icon(src="/res/icons/" + social.name.toLowerCase() + ".svg")
    include ../footer/footer
    div.u-hide-tablet
      +footer("div")
    div.c-header__day-night
      include ../scheme/scheme
