extends ../components/layout/layout

block variables
  - const pageType = 'Article';
  - const pageTitle = 'Wishlist';
  - const pageDescription = `If you want make surprise but don't know what to present me, here are some ideas to help you`;
  - const pageUrl = baseUrl + 'wishlist';
  -
    const pageAdditionalData = `
      "headline": "${pageTitle}"
    `;

append styles
  link(rel="stylesheet" href=relative("./wishlist.css", pug_debug_filename))

block content
  include ../components/section/section
  -
    const wishes = [
    {
      title: 'Etc',
      items: [
        {
          icon: '💳',
          link: 'https://send.monobank.com.ua/2BgRGaJ9q?f',
          text: 'Send me money from any card'
        },
        {
          icon: '🪑',
          link: 'https://www.3ona51.com/ru/gaming-chairs/dxracer-oh-is166-nw/index.html',
          text: 'DXRacer Chair',
          done: 'Presented'
        }
      ],
    },
    {
      title: 'Car',
      items: [
        {
          icon: '📹',
          link: 'https://rozetka.com.ua/xiaomi_yi_smart_dash_gray/p11283724/',
          text: 'DVR',
          done: 'Presented'
        }
      ]
    },
    {
      title: 'Tech',
      items: [
        {
          icon: '🖱',
          link: 'https://www.3ona51.com/ru/gaming-mouses/steelseries-sensei-ten-62527/index.html',
          text: 'Steelseries Ten'
        },
        {
          icon: '🎧',
          link: 'https://www.3ona51.com/ru/gaming-headphones/steelseries-arctis-3-bluetooth-2019-edition-61509/index.html',
          text: 'Steelseries Headphones'
        },
        {
          icon: '👔',
          link: 'https://store.uprightpose.com/products/upright-go2-v2',
          text: 'UPRIGHT GO Posture Corrector'
        },
        {
          icon: '💻',
          link: 'https://ilounge.ua/products/podstavka-twelve-south-hirise-macbook-kupit',
          text: 'Twelve South HiRise Macbook Stand'
        }
      ]
    }
    ];

  main.l-post-container
    +section
      p.c-section__content
        | If you want make surprise but don't know what to present me, here are some ideas to help you 😊
      p.c-section__content
        | I'm run this list not only for an ideas for you, but also as an ideas for me - for the things which I
        | want to buy, but not now. In worst case scenario you can just send me some beer in non-liquid state 💳
      p.c-section__content

    +section
      each section in wishes
        h2.o-header= section.title
        ul.o-list--no-list
          each item in section.items
            li.c-wishlist-item(class={'c-wishlist-item__done': item.done})
              span.c-wishlist-item--icon= item.icon
              div.c-wishlist-item--text
                - const text = item.text + (item.done ? ` (${item.done})` : '');
                a.o-link(href=item.link target="_blank")= text
